[Desktop Entry]
Name=FreeSurfer 6.0.1 (Install only)
GenericName=FreeSurfer 6.0.1
Comment=Install FreeSurfer 6.0.1
Exec=bash /usr/share/fetch_and_run.sh freesurfer 6.0.1 20200506
Icon=/home/neuro/.config/lxpanel/LXDE/icons/vnm.png
Type=Application
Categories=FreeSurfer
Terminal=true
