#!/usr/bin/en xdg-open
[Desktop Entry]
Type=Application
Name=FreeSurfer 7.1.0
Comment=Install FreeSurfer 7.1.0
Exec= bash /usr/share/fetch_and_run.sh freesurfer 7.1.0 20200521
Terminal=true
